body
{
    background-color: #19334d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sheet
{
    border:1px solid black;
    transform-origin: top left;
    margin: 0;
}

.buttonsDiv
{
    margin-top: 10px;
    width: 26%;
    display: flex;
    justify-content: space-between;
}
.button
{
    font-size:32px;
    background-color: #339933;
    color: #e6e6e6;
    border: none;
    width: 200px;
    height: 50px;
}
h1
{
    color: #e6e6e6;
}
.button:hover
{
    cursor:pointer;
    background-color: #196619;
}
#hiddenCanvas
{
    display: none;
}